<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Fusion.VideoStreaming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="VideoStreaming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<applicationSettings>
		<Fusion.VideoStreaming.Properties.Settings>
   <setting name="ffmpegPath" serializeAs="String">
    <value>C:\Users\bezbo_000\Downloads\ffmpeg-20150204-git-77f326d-win64-shared\bin\ffmpeg.exe</value>
   </setting>
   <setting name="fps" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="fakeImageDir" serializeAs="String">
    <value>C:\Users\bezbo_000\Pictures\</value>
   </setting>
   <setting name="fakeImageName" serializeAs="String">
    <value>source</value>
   </setting>
   <setting name="fakeImageExtension" serializeAs="String">
    <value>png</value>
   </setting>
   <setting name="vlcPath" serializeAs="String">
    <value>C:\Users\bezbo_000\Downloads\VLC\vlc.exe</value>
   </setting>
   <setting name="port" serializeAs="String">
    <value>9001</value>
   </setting>
   <setting name="fakeVideoName" serializeAs="String">
    <value>webcam</value>
   </setting>
   <setting name="fakeVideoExtension" serializeAs="String">
    <value>ogg</value>
   </setting>
   <setting name="batchFileDir" serializeAs="String">
    <value>C:\Users\bezbo_000\Documents\</value>
   </setting>
   <setting name="batchFileName" serializeAs="String">
    <value>startStreaming.bat</value>
   </setting>
   <setting name="wheelLength" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="snapshotPeriod" serializeAs="String">
    <value>00:00:00.2000000</value>
   </setting>
  </Fusion.VideoStreaming.Properties.Settings>
  <VideoStreaming.Properties.Settings>
   <setting name="ffmpegPath" serializeAs="String">
    <value>C:\Users\lbezborodov\Downloads\ffmpeg-20150204-git-77f326d-win64-shared\bin\ffmpeg.exe</value>
   </setting>
   <setting name="fps" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="fakeImageDir" serializeAs="String">
    <value>C:\Users\lbezborodov\</value>
   </setting>
   <setting name="fakeImageName" serializeAs="String">
    <value>source</value>
   </setting>
   <setting name="fakeImageExtension" serializeAs="String">
    <value>png</value>
   </setting>
   <setting name="vlcPath" serializeAs="String">
    <value>C:\Program Files\VideoLAN\VLC\vlc.exe</value>
   </setting>
   <setting name="port" serializeAs="String">
    <value>8080</value>
   </setting>
   <setting name="fakeVideoName" serializeAs="String">
    <value>webcam</value>
   </setting>
   <setting name="fakeVideoExtension" serializeAs="String">
    <value>ogg</value>
   </setting>
   <setting name="batchFileDir" serializeAs="String">
    <value>C:\Users\lbezborodov\</value>
   </setting>
   <setting name="batchFileName" serializeAs="String">
    <value>startStreaming.bat</value>
   </setting>
   <setting name="wheelLength" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="snapshotPeriod" serializeAs="String">
    <value>00:00:00.2000000</value>
   </setting>
  </VideoStreaming.Properties.Settings>
	</applicationSettings>
</configuration>